.cartypes-main-h1 h1 {
  font-size: 35px;
}

.faqsection-cards {
  border: 2.5px solid rgb(166, 166, 166);
  border-collapse: collapse;
  border-radius: 5px;
  /* max-height: 160px; */
}

.faqsection-cards-content {
  overflow: hidden;
  transition: height 0.3s ease-out;
}

/* .faqsection-cards div span {
 
} */

.faqsection-cards p {
  color: rgb(76, 76, 76);
  font-size: 15px;
}
