.topsellingcarcards {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.topsellingcarcards p {
  font-size: 15px;
}

.topsellingcarcards span {
  color: rgb(146, 146, 146);
  font-size: 16px;
}

.topsellingcarcards h3 {
  color: rgb(112, 112, 112);
}

.topsellingcarcard-icon {
  height: 20px;
  width: 20px;
}
.topsellingcarcard-img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.swiper-pagination-bullet {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: rgb(0, 183, 0) !important;
  opacity: 1;
}
