.travelfreecard {
  width: 100%;
  height: 250px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.travelfreecard:hover {
  transform: scale(1.005);
}
.travelfreecard h3{
  font-size: 40px;
}
.travelfreecard h3 span{
  font-size: 20px;
}
.tfcard1 h3 {
  color: rgb(0, 169, 8);
  /* backdrop-filter: blur(25px);  */
}
.tfcard2 h3 {
  color: rgb(35, 209, 43);
  /* backdrop-filter: blur(25px);  */
}
.tfcard3 h3 {
  color: rgb(11, 184, 19);
  /* backdrop-filter: blur(25px);  */
}
.tfcard1 h3 span {
  color: rgb(84, 84, 84);
  display: block;
}
.tfcard2 h3 span {
  color: rgb(204, 205, 212);
  display: block;
}
.tfcard3 h3 span {
  color: rgb(227, 227, 227);
  display: block;
}
