.dullhover:hover {
  background-color: #e6ebef !important;
}
.pointer {
  cursor: pointer !important;
}
.dullbg {
  background-color: #bdbdbd !important;
}


/* Default: looks like btn-dark */
.custom-toggle {
  border: 1px solid #212529; /* same as btn-dark border */
}
