#root{
    background-color: rgb(255, 33, 155);
}

.DigitalClock{
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 45%;
}
.dull{
     color: rgb(80, 80, 80) !important;
}