#root{
    background-color: rgb(255, 255, 255);
}

.PasswordGenerator{
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 45%;
}
.dull{
     color: rgb(108, 108, 108) !important;
}

.copy{
    background-color: rgb(0, 159, 245);
    border: none;
    border-radius: 3;
}

.border{
    border: 2px solid rgb(136, 136, 136) !important;
    border-radius: 5px;
}