@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Caveat:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Train+One&display=swap");

#root {
  font-family: "Rowdies", sans-serif;
  background-color: #9daf8e;
}
.QuizApp {
  min-height: 10%;
  min-width: 80%;
  border-radius: 20px;
  background-color: #5a7863;

  /* background-color: #97caa5; */
}
.header {
  padding: 0;
  margin: 0;
}
.body {
  background-color: #97caa5;
  min-height: 200px;
  
  color: #30475c;
}

.green{
    background-color: #28ac4b !important;
}

.red{
    background-color: #ac2b2b !important;
}

.options {
  background-color: #577460;
  color: rgb(236, 236, 236);
  text-align: center;
  padding: 10px 12px;
  width: 200px;
  border-radius: 5px;
  font-weight: 300;
}
.options:hover {
  background-color: #5f826a;
}

.dropdown-menu {
  max-height: 200px !important;   /* set the height limit */
  overflow-y: auto !important;    /* enable vertical scrolling */
}
